body {
    background: #CCCCCC
}

.principal{
    background: #b8b6b6;
    padding; 30px;
}

p {
   text-aling: center;
}

em strong {
    color: #FF0000;
}

h1 {
   text-aling: center;
}


p {
  font-size: 30px;
}

#images.jpeg {
  wiht: 100%;
}

.itens {
    font-size italic;
}

.qualidade {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
