body {
    background: #CCCCCC
}
.principal{
    background: #87CEFA;
    padding:50px;
}

p {
    text-align: center;
}

em strong {
    color: #E0FFFF;
}

h1 {
    text-align: center;
}

p {
    font-size: 45px;
}

#missao {
    font-size: 50px;
}

#banner {
    width: 150%
}

.itens {
    font-style: italic;
    font-size: 30px;
}

.beneficios {
    background: #ccbaba;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
.titulo-principal {
    padding-left: 30px;
}
.titulo-centralizado {
    text-aling: center
}
