* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #28a745;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header Fazenda.png {
    max-width: 150px; /* Define o tamanho máximo da logo */
    height: auto;
}

header .header-text {
    text-align: right;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Estilo da seção de conteúdo */
.content {
    padding: 40px 20px;
}

.content h2 {
    font-size: 2rem;
    color: #28a745;
    margin-bottom: 20px;
}

.content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

.content p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Contêiner para centralizar o conteúdo */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
}
